# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\shibayan\Documents\GitHub\Sharprompt codebase based on best match to current usage at 2019/09/29
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

#Core editorconfig formatting - indentation

#use soft tabs (spaces) for indentation
indent_style=space

#Formatting - new line options

#place catch statements on a new line
csharp_new_line_before_catch=true
#place else statements on a new line
csharp_new_line_before_else=true
#require braces to be on a new line for methods, control_blocks, and types (also known as "Allman" style)
csharp_new_line_before_open_brace=all

#Formatting - organize using options

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first=true

#Formatting - spacing options

#require NO space between a cast and the value
csharp_space_after_cast=false
#require a space after a keyword in a control flow statement such as a for loop
csharp_space_after_keywords_in_control_flow_statements=true
#remove space within empty argument list parentheses
csharp_space_between_method_call_empty_parameter_list_parentheses=false
#remove space between method call name and opening parenthesis
csharp_space_between_method_call_name_and_opening_parenthesis=false
#do not place space characters after the opening parenthesis and before the closing parenthesis of a method call
csharp_space_between_method_call_parameter_list_parentheses=false
#remove space within empty parameter list parentheses for a method declaration
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
#place a space character after the opening parenthesis and before the closing parenthesis of a method declaration parameter list.
csharp_space_between_method_declaration_parameter_list_parentheses=false

#Formatting - wrapping options

#leave code block on single line
csharp_preserve_single_line_blocks=true

#Style - expression bodied member options

#prefer block bodies for constructors
csharp_style_expression_bodied_constructors=false:suggestion
#prefer block bodies for methods
csharp_style_expression_bodied_methods=false:suggestion

#Style - expression level options

#prefer out variables to be declared before the method call
csharp_style_inlined_variable_declaration=false:suggestion
#prefer the language keyword for member access expressions, instead of the type name, for types that have a keyword to represent them
dotnet_style_predefined_type_for_member_access=true:suggestion

#Style - implicit and explicit types

#prefer var is used to declare variables with built-in system types such as int
csharp_style_var_for_built_in_types=true:suggestion

#Style - language keyword and framework type options

#prefer the language keyword for local variables, method parameters, and class members, instead of the type name, for types that have a keyword to represent them
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion

#Style - qualification options

#prefer fields not to be prefaced with this. or Me. in Visual Basic
#prefer methods not to be prefaced with this. or Me. in Visual Basic
#prefer properties not to be prefaced with this. or Me. in Visual Basic

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_expression_bodied_accessors=true:suggestion
csharp_style_expression_bodied_properties=true:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_parameter=true
resharper_align_multiple_declaration=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_apply_auto_detected_rules=false
resharper_blank_lines_between_using_groups=1
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_stick_comment=false
resharper_csharp_wrap_lines=false
resharper_max_attribute_length_for_same_line=50
resharper_place_accessorholder_attribute_on_same_line=false
resharper_show_autodetect_configure_formatting_tip=false
resharper_space_between_attribute_sections=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indent_from_vs=false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=none
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_comment_typo_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_markup_attribute_typo_highlighting=none
resharper_markup_text_typo_highlighting=none
resharper_redundant_base_qualifier_highlighting=none
resharper_string_literal_typo_highlighting=none
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint

[*.{appxmanifest,asax,ascx,aspx,axml,build,config,cs,cshtml,csproj,css,dbml,discomap,dtd,htm,html,jsproj,lsproj,master,njsproj,nuspec,proj,props,razor,resw,resx,skin,StyleCop,targets,tasks,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
